@charset "UTF-8";

section#conteudo {
    width: 1500px;
    margin: auto;
}

iframe#frame-spec {
    width: 500px;
    height: 380px;
    border: none;
    overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}